<div class="header-container">
    <div class="left">
        <div class="header-name text-center" (click)="goHome()">Troy Bedingfield</div>
    </div>
    <div class="right">
        <a href="https://www.linkedin.com/in/troy-bedingfield-0b5850a/" target="_blank">LinkedIn</a>

        <!-- <tb-button [uppercase]="true" (click)="viewResume()">Resume</tb-button> -->
        <app-split-button (eventValue)="handleValue($event)" (buttonClick)="handleButton($event)" [uppercase]="true"
            [dropdownItems]="['PDF', 'DOC']">Resume</app-split-button>

    </div>
</div>