.design-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 24px 0;
    gap: 12px;
    // background: rgba($color: #007cba, $alpha: 1);
    // background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 124, 186, 1) 55%);
    justify-content: center;
}

.design-top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px 24px 12px;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;

    // & * {
    //     color: white;
    // }
}