<div class="home-container">

    <div class="home-top-text">

        <h3 class="text-center font-black">Experienced Front-End Developer with a demonstrated history of working in the
            payroll
            and marketing
            industries.
        </h3>

        <h4 class="text-center font-bold">Skilled in HTML, CSS, JavaScript, TypeScript, Angular</h4>

        <h5 class="text-center font-regular">Also have experience with .NET, PHP, WordPress, Drupal</h5>

        <h4 class="text-center font-medium">Professional with a Bachelor's of fine art focused in Graphic Design from
            Georgia State
            University.</h4>


    </div>

    <div class="saas-work">
        <div class="inner-container">
            <p class="text-center">Payroll/HR SaaS application:</p>
            <img src="./assets/images/SaaS-examples.png" alt="saas-examples">
        </div>
    </div>

    <div class="component-example">
        <p class="text-center">Component Library Button Example:</p>
        <p class="text-center">To see the full example setup and documentation <br /><br /> <a
                href="https://troybedingfield.github.io/library-test/?path=/docs/local-button--docs" target="_blank"
                class="font24">Storybook Link</a></p>
        <br />

        <app-test-button></app-test-button>
    </div>

    <div class="figma-work">
        <div class="inner-container">
            <div class="text-center">
                <p>Click to see Figma work</p>
                <div class="button-container">
                    <tb-button [customBGColor]="'#1abcfe'" (click)="showFigma=!showFigma"><ng-container>{{showFigma ===
                            true ?
                            hideText :
                            showText}}</ng-container> Figma</tb-button>
                </div>
            </div>
            <div id="figma-container" *ngIf="showFigma">
                <iframe class=" responsive-iframe"
                    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fdesign%2FrOj7ptt7KWZOZdNt2cen4n%2FDesign-System%3Ft%3DkPEUfPGxHZjAR30J-1"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>


    <div class="marketing-work">
        <p class="text-center">Marketing site's I've managed and/or built:</p>
        <div class="home-two-column">

            <div class="column1">
                <ul>
                    <li>
                        <a href="https://iloveicecreamcakes.com" target="_blank">iloveicecreamcakes.com</a>
                    </li>
                    <li>
                        <a href="https://electrocore.com" target="_blank">electrocore.com</a>
                    </li>
                    <li>
                        <a href="https://gammacore.com" target="_blank">gammacore.com</a>
                    </li>
                    <li>
                        <a href="https://thiolaec.com" target="_blank">thiolaec.com</a>
                    </li>
                    <li>
                        <a href="https://farmrich.com" target="_blank">farmrich.com</a>
                    </li>

                </ul>
            </div>
            <div class="column2">
                <ul>
                    <li>
                        <a href="https://emflaza.com" target="_blank">emflaza.com</a>
                    </li>
                    <li>
                        <a href="https://ptccares.com" target="_blank">ptccares.com</a>
                    </li>
                    <li>
                        <a href="https://thiolaechcp.com" target="_blank">thiolaechcp.com</a>
                    </li>
                    <li>
                        <a href="https://seapak.com" target="_blank">seapak.com</a>
                    </li>
                    <li>
                        <a href="https://askewmarketing.com" target="_blank">askewmarketing.com</a>
                    </li>

                </ul>
            </div>


        </div>

    </div>


    <div class="contact-form">
        <div class="form-inner-container">
            <app-contact-form></app-contact-form>
        </div>
    </div>


</div>

<app-toast></app-toast>